@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Kanit:wght@100&family=Roboto&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'Roboto', sans-serif;

}

.button{
  width: 70px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}

.row{
  margin: 8px 0;
}
.row input{
  width: 305px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}
.container{
    width: 100%;
    height: 100vh;
    background: rgb(228, 150, 244);
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-center{
    text-align: center;
  }
  
  .bg-red{
    background: red;
  }
  
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }